.logoGmail {
    width: 200px;
}

.logoDiscord {
    width: 120px;
}
.iconos{
    display: flex;
    flex-direction: row;
}

.titulo {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
}